.login-container {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 120px auto;
  gap: 12px;

  padding: 20px;
  border-radius: 12px;

  background: #1f2937;
  color: white;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

.error {
  color: #ef4444;
  font-size: 13px;
}